
.headerBand.bg-light {
  background-color: #0D0D76 !important;
}

.headerBand .navbar-brand {
  color: #fff;
}

.nav-link {
  color: #fff !important;
}
nav a img {
  margin-left: 94px;
}
.header span{
  margin: 0 auto;
  margin-right: 20px;
  display: block;
  color: #fff;
  font-size: 30px;
  font-family: "Century Gothic";
}
.header .form-control
{
  width:auto;
}
.headerLink {
    z-index: 5;
    color: white;
    background-color: #0D0D76;
    padding-right: 14px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

::ng-deep .card {
  background-color: transparent !important;
  border: none !important;
}

::ng-deep .card-header {
  padding: 0.15rem 1.25rem !important;
  margin-bottom: 5px !important;
  border-bottom: none;
}
::ng-deep .bg-light {
  background-color: #fff !important;
}

::ng-deep .card-body{
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 2rem;
}
.footer {
  background-color: #0D0D76 !important;
}

::ng-deep .btn-link {
  font-weight: 400;
  color: #004085;
  background-color: transparent;
  text-decoration: none !important;
  font-family: 'Century Gothic';
}

::ng-deep .btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link:visited {
  color: #0056b3;
}
a {
  color: #004085;
  text-decoration: none !important;
  background-color: transparent;
  border-color: transparent;
}
a:hover, .btn-link:focus, .btn-link:active, .btn-link:visited {
  color: #0056b3;
}

ul li a {
  text-decoration: underline !important;
}

.text-header {
background-color: #F5F5F5 !important;
}
.title {
  margin-top: 0px !important;
    margin-bottom: 0 !important;
    font-size: 13px !important;
    /* color: #ffffff !important; */
    font-family: 'Century Gothic' !important;
    text-align: center;
    height: 30px;
    border-bottom: 1px solid gray;
    padding-top: 4px !important;
}

.loaderContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background-color: #a9bbce;
  opacity: 0.8;
}

.loaderContainer img{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
}
.t1 a{
  color: white;
}