<div id="toplinks" class="headerLink t1" align="right">
  <a href="//{{location}}">About Classzone</a>
  |
  <a href="../../../eservices">eServices</a>
  |
  <a href="../../../myaccount/index.cfm?fuseaction=login.logout">Sign Out</a>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light headerBand">

  <a class="navbar-brand" href="//{{location}}">
    <img src="assets/images/classzone_logo.png" alt="logo" height="50px">
  </a>

  <div class="navbar-nav navbar-collapse header" id="navbarSupportedContent">
    <span>{{bookName}} - OLP Resources</span>
    <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="term"> -->
  </div>
</nav>

<div class="page-header text-header">
  <p class="title">The Classzone OLP (Online Planner) is no longer available. The PDF lesson resources that were in the OLP are here for your
    convenience.
  </p>
</div>

<div class="container">
  <ngb-accordion [closeOthers]="true" activeIds="static-1" (click)="getTitle($event, 'ancillary')">
    <ngb-panel id="static-1{{i}}" *ngFor="let ancillary of ANCILLARY_BOOK;   let i = index;">
      <ng-template ngbPanelTitle>
        {{ancillary}}
      </ng-template>
      <ng-template ngbPanelContent>
        <ngb-accordion [closeOthers]="true" activeIds="static-2" (click)="getTitle($event, 'activity_Title',  ancillary)">
          <ngb-panel id="static-2{{j}}" *ngFor="let subsection of SUBSECTION; let j = index">
            <ng-template ngbPanelTitle>
              {{subsection}}
            </ng-template>
            <ng-template ngbPanelContent>
              <ngb-accordion [closeOthers]="true" activeIds="static-3" (click)="getTitle($event, 'selection',  ancillary, subsection)">
                <ngb-panel id="static-3{{k}}" *ngFor="let activityTitle of Activity_Title; let k = index">
                  <ng-template ngbPanelTitle>
                    {{activityTitle}}
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <ngb-accordion [closeOthers]="true" activeIds="static-4" (click)="getTitle($event, 'PDF_Resource',  ancillary, subsection, activityTitle)">
                      <ngb-panel id="static-4{{l}}" *ngFor="let selection of SELECTION; let l = index">
                        <ng-template ngbPanelTitle>
                          {{selection}}
                        </ng-template>
                        <ng-template ngbPanelContent>
                          <ul *ngFor="let pdfResource of PDF_Resources; let m = index;">
                            <li *ngIf="pdfResource.PDF != 'XX' && pdfResource.PDF != 'xx' && pdfResource.PDF != 'NA' && pdfResource.PDF != ''">
                              <a href="view.cfm/?{{bookId}}/{{pdfResource.PDF}}" id="subSecFile{{m}}" target="_self" (click)="prevent($event)">{{pdfResource.PDF}}.PDF</a>
                            </li>
                            <li *ngIf="pdfResource.Answer_FileName != 'XX' && pdfResource.Answer_FileName != 'xx' && pdfResource.Answer_FileName != 'NA' && pdfResource.Answer_FileName != ''">
                              <a href="view.cfm/?{{bookId}}/{{pdfResource.Answer_FileName}}" id="subSecFile_1{{m}}" target="_self" (click)="prevent($event)">{{pdfResource.Answer_FileName}}.PDF (Answer)</a>
                            </li>
                            <li *ngIf="pdfResource.Spanish_Version != 'XX' && pdfResource.Spanish_Version != 'xx' && pdfResource.Spanish_Version != 'NA' && pdfResource.Spanish_Version != ''">
                              <a href="view.cfm/?{{bookId}}/{{pdfResource.Spanish_Version}}" id="subSecFile_2{{m}}" target="_self" (click)="prevent($event)">{{pdfResource.Spanish_Version}}.PDF (Spanish Version)</a>
                            </li>
                            <li *ngIf="pdfResource.Spanish_AsnwerSheet != 'XX' && pdfResource.Spanish_AsnwerSheet != 'xx' && pdfResource.Spanish_AsnwerSheet != 'NA' && pdfResource.Spanish_AsnwerSheet != ''">
                              <a href="view.cfm/?{{bookId}}/{{pdfResource.Spanish_AsnwerSheet}}" id="subSecFile_3{{m}}" target="_self" (click)="prevent($event)">{{pdfResource.Spanish_AsnwerSheet}}.PDF (Spanish Answer)</a>
                            </li>
                          </ul>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<div class="loader" *ngIf="loading">
  <div class="loaderContainer">
    <img src="assets/images/preloader.gif" />
  </div>
</div>
<footer class="page-footer font-small blue footer">
  <div class="footer-copyright text-center py-3">
  </div>
</footer>